LENGUAJES/TEMA6/videojuego/videojuegos.dtd

<!ELEMENT catalogo (videojuego+)>

<!ELEMENT videojuego (titulo, desarrolladora, año, plataformas, genero, precio, valoracion)>
<!ATTLIST videojuego id ID #REQUIRED>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT desarrolladora (#PCDATA)>
<!ELEMENT año (#PCDATA)>
<!ELEMENT plataformas (plataforma+)>
<!ELEMENT plataforma (#PCDATA)>
<!ELEMENT genero (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT valoracion (#PCDATA)>