LENGUAJES/TEMA6/ejercicioExamen/libro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--Resticciones-->
    <xs:simpleType name="tipoisbn" >
        <xs:restriction base="xs:integer">
            <xs:minExclusive value="999999999"></xs:minExclusive>
            <xs:maxExclusive value="10000000000"></xs:maxExclusive>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tipoidioma">
        <xs:restriction base="xs:string">
            <xs:enumeration value="es"></xs:enumeration>
            <xs:enumeration value="en"></xs:enumeration>
            <xs:enumeration value="fr"></xs:enumeration>
            <xs:enumeration value="de"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tipoformato">
        <xs:restriction base="xs:string">
            <xs:enumeration value="tapa_dura"></xs:enumeration>
            <xs:enumeration value="tapa_blanda"></xs:enumeration>
            <xs:enumeration value="ebook"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tipoautor">
        <xs:restriction base="xs:string">
            <xs:enumeration value="autor"></xs:enumeration>
            <xs:enumeration value="coautor"></xs:enumeration>
            <xs:enumeration value="traductor"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="libro">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="autores" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="autor" maxOccurs="unbounded" >
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string"></xs:element>
                                        <xs:element name="apellidos" type="xs:string"></xs:element>
                                        <xs:element name="nacionalidad" type="xs:string" minOccurs="0"></xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:ID" use="required"></xs:attribute>
                                    <xs:attribute name="rol" type="xs:string" default="autor"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="editorial"></xs:element>
                <xs:element name="sinopsis"></xs:element>
                <xs:element name="categoria" maxOccurs="unbounded" minOccurs="0"></xs:element>
            </xs:sequence>
            <xs:attribute name="isbn" type="tipoisbn" use="required"></xs:attribute>
            <xs:attribute name="idioma" type="tipoidioma" use="required"></xs:attribute>
            <xs:attribute name="formato" default="tapa_blanda" type="tipoformato"></xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>