LENGUAJES/TEMA6/cursos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--Definicion de tipos personalizados-->
    <xs:simpleType name="tipoNivel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="principiante"></xs:enumeration>
            <xs:enumeration value="intermedio"></xs:enumeration>
            <xs:enumeration value="avanzado"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tipoDuracion">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="10"/>
            <xs:maxInclusive value="200"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="plataforma">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cursos">   
                </xs:element>
                <xs:element name="estudiantes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="estudiante"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--Elemento raiz-->
    <xs:element name="plataforma">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cursos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="curso" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo" type="xs:string"/>
                                        <xs:element name="descripcion" type="xs:string"/>
                                        <xs:element name="duracion" type="tipoDuracion"/>
                                        <xs:element name="nivel" type="tipoNivel"/>
                                        <xs:element name="precio" type="xs:decimal"></xs:element>
                                        <xs:element name="fechaInicio" type="xs:date"></xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:ID" use="required"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>