LENGUAJES/TEMA6/ejercicio4.dtd

<!ELEMENT empresa (departamentos, empleados)>

<!ELEMENT departamentos (departamento+)>
<!ELEMENT departamento (nombre, ubicacion)>
<!ATTLIST departamento 
    id ID #REQUIRED
    codigo CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT ubicacion (#PCDATA)>

<!ELEMENT empleados (empleado+)>
<!ELEMENT empleado (nombreCompleto, apellidos, fechaNacimiento, departamentoRef, email?, telefono?)>
<!ATTLIST empleado 
    dni ID #REQUIRED
    numEmpleado CDATA #REQUIRED>

<!ELEMENT nombreCompleto (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT fechaNacimiento (#PCDATA)>
<!ELEMENT departamentoRef EMPTY>
<!ATTLIST departamentoRef refDept IDREF #REQUIRED>
<!ELEMENT email (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
