LENGUAJES/TEMA6/empleados.dtd

<!ELEMENT empresa (departamentos, empleados )>

<!ELEMENT departamentos (departamento)>
<!ELEMENT departamento (nombre, ubicacion)>
<!ATTLIST departamento 
    id ID #REQUIRED
    codigo CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT ubicacion (#PCDATA)>

<!ELEMENT empleados (empleado+)>
<!ELEMENT empleado (nombreCompleto, apellidos, fechaNcto, departamentoRef, email?, telefono?)>
<!ATTLIST empleado dni ID #REQUIRED>
<!ELEMENT nombreCompleto (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT fechaNco (#PCDATA)>
<!ELEMENT departamentoRef EMPTY>
<!ATTLIST departamentoRef refDep ID #REQUIRED>
